<div class="app-header">
  <div class="app-header__items-block">
    <a class="app-header__item app-header__item-active"
       [routerLink]="['/loanCalculate']"
       [ngClass]="{'app-header__item-active': id === 0}"
       (click)="onItemClick(0)">
      Кредитный калькулятор
    </a>
    <a class="app-header__item app-header__last-item"
       [routerLink]="['/quantification']"
       [ngClass]="{'app-header__item-active': id === 1}"
       (click)="onItemClick(1)">
      Расчет портфеля
    </a>
  </div>
</div>
