.core-spoiler {
  width: 100%;

  &__caption {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    &:hover &__text {
      color: darkblue;
    }

    &:hover .icon-toggle {
      border-color: darkblue;
    }

    &__text {
      color: cornflowerblue;
      cursor: pointer;
      display: inline;
    }
  }
}

.icon-toggle {
  width: 7px;
  height: 7px;
  border: 2px solid cornflowerblue;
  transform: rotate(45deg);
  cursor: pointer;

  &__down {
    margin-left: 5px;
    margin-top: 8px;
    border-bottom: none;
    border-right: none;
  }

  &__up {
    margin-left: 5px;
    margin-top: 4px;
    border-top: none;
    border-left: none;
  }
}
