<div *ngIf="inputFormControls.controls as controls" class="trust">
  <div class="trust__input-field-block">
    <core-input-group
      label="Требуемая сумма"
      [type]="inputType.NUMBER"
      [inputControl]="controls.amount"
    ></core-input-group>
  </div>

  <div class="trust__input-field-block">
    <core-input-group
      label="Сумма, выплачиваемая ежемесячно"
      [type]="inputType.NUMBER"
      [inputControl]="controls.monthlyFee"
    ></core-input-group>
  </div>

  <div class="trust__input-field-block">
    <core-input-group
      label="Процент"
      [type]="inputType.NUMBER"
      [inputControl]="controls.interestRate"
    ></core-input-group>
  </div>

  <core-spoiler caption="Дополнительные параметры" style="display: flex; justify-content: flex-end">
    <div class="dopPar">
      <p>Дополнительные параметры</p>
    </div>
  </core-spoiler>

  <button (click)="calculate()">Рассчитать</button>

  <core-output-text *ngIf="outputText" [outputText]="outputText"></core-output-text>
</div>
